In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
##Remove the useless data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
##Encode Categorical Variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [10]:
#OneHot Encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [11]:
#Combine the onehot encoded columns with original data
data= pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [18]:
#Split the data into features and target
X= data.drop('EstimatedSalary',axis=1)
y= data['EstimatedSalary']

In [20]:
##Split the data in training and testing set
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [22]:
##Scale down these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [23]:
#Save the encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Regression Problem Statement

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
##Building ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##Hidden Layer connected with input layer
    Dense(32,activation='relu'), ##HL2
    Dense(1) ##Output Layer
])

##Compile the Model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

#Set Up Tensorboard
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [29]:
##Set Up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [30]:
##Train The Model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Projects\End2EndDL_ann\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Projects\End2EndDL_ann\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100365.8594 - mae: 100365.8594 - val_loss: 98475.4609 - val_mae: 98475.4609
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99499.6250 - mae: 99499.6250 - val_loss: 96744.7891 - val_mae: 96744.7891
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96517.9922 - mae: 96517.9922 - val_loss: 92393.2188 - val_mae: 92393.2188
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 90713.8125 - mae: 90713.8125 - val_loss: 85244.0391 - val_mae: 85244.0391
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 82387.7734 - mae: 82387.7734 - val_loss: 76239.8828 - val_mae: 76239.8828
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 72924.2266 - mae: 72924.2266 - val_loss: 67310.6406 - val_mae: 67310.6406
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 64183.6562 - mae: 64183.6562 - val_loss: 59826.1523 - val_mae: 59826.1523
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 57626.1953 - mae: 57626.1953 - val_loss: 55009.8984 - val_mae: 55009.8984
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 53699.7617 - mae: 53699.7617 - val_loss: 52424.9258 - val_mae: 52424.9258
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51778.3359 - mae: 51778.3359 - val_loss: 51317.1641 - val_mae: 51317.1641
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50899.7305 - mae: 50899.7305 - val_loss: 50873.0547 - val_mae: 50873.0547
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50505.1445 - mae: 50505.1445 - val_loss: 50705.4102 - val_mae: 50705.4102
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50316.1211 - mae: 50316.1211 - val_loss: 50628.9883 - val_mae: 50628.9883
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50212.3477 - mae: 50212.3477 - val_loss: 50580.0391 - val_mae: 50580.0391
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50140.3906 - mae: 50140.3906 - val_loss: 50541.8711 - val_mae: 50541.8711
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50089.3711 - mae: 50089.3711 - val_loss: 50507.5312 - val_mae: 50507.5312
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50042.8828 - mae: 50042.8828 - val_loss: 50487.5508 - val_mae: 50487.5508
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50003.3633 - mae: 50003.3633 - val_loss: 50464.8672 - val_mae: 50464.8672
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49966.7383 - mae: 49966.7383 - val_loss: 50448.3594 - val_mae: 50448.3594
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49934.3711 - mae: 49934.3711 - val_loss: 50433.3398 - val_mae: 50433.3398
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49904.1836 - mae: 49904.1836 - val_loss: 50408.1250 - val_mae: 50408.1250
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49876.7969 - mae: 49876.7969 - val_loss: 50400.6719 - val_mae: 50400.6719
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49850.8672 - mae: 49850.8672 - val_loss: 50393.6562 - val_mae: 50393.6562
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49826.6445 - mae: 49826.6445 - val_loss: 50389.2070 - val_mae: 50389.2070
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49805.6094 - mae: 49805.6094 - val_loss: 50377.6992 - val_mae: 50377.6992
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49785.2266 - mae: 49785.2266 - val_loss: 50364.8320 - val_mae: 50364.8320
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49763.1172 - mae: 49763.1172 - val_loss: 50358.3438 - val_mae: 50358.3438
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49746.6250 - mae: 49746.6250 - val_loss: 50350.5703 - val_mae: 50350.5703
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49725.3906 - mae: 49725.3906 - val_loss: 50348.0273 - val_mae: 50348.0273
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49709.3203 - mae: 49709.3203 - val_loss: 50350.7773 - val_mae: 50350.7773
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.6797 - mae: 49694.6797 - val_loss: 50338.0742 - val_mae: 50338.0742
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49684.8867 - mae: 49684.8867 - val_loss: 50336.8398 - val_mae: 50336.8398
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49669.4531 - mae: 49669.4531 - val_loss: 50326.7188 - val_mae: 50326.7188
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49655.4844 - mae: 49655.4844 - val_loss: 50325.0156 - val_mae: 50325.0156
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49644.2344 - mae: 49644.2344 - val_loss: 50320.5664 - val_mae: 50320.5664
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49630.2891 - mae: 49630.2891 - val_loss: 50320.0664 - val_mae: 50320.0664
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49617.8438 - mae: 49617.8438 - val_loss: 50318.3359 - val_mae: 50318.3359
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.7344 - mae: 49608.7344 - val_loss: 50309.4609 - val_mae: 50309.4609
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49594.3789 - mae: 49594.3789 - val_loss: 50316.7266 - val_mae: 50316.7266
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49585.5469 - mae: 49585.5469 - val_loss: 50304.2422 - val_mae: 50304.2422
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49578.7812 - mae: 49578.7812 - val_loss: 50307.3555 - val_mae: 50307.3555
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49565.4375 - mae: 49565.4375 - val_loss: 50302.8164 - val_mae: 50302.8164
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49560.3320 - mae: 49560.3320 - val_loss: 50300.0898 - val_mae: 50300.0898
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49548.7070 - mae: 49548.7070 - val_loss: 50304.2812 - val_mae: 50304.2812
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49541.7734 - mae: 49541.7734 - val_loss: 50301.4336 - val_mae: 50301.4336
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49531.6133 - mae: 49531.6133 - val_loss: 50296.1719 - val_mae: 50296.1719
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.7695 - mae: 49526.7695 - val_loss: 50305.0859 - val_mae: 50305.0859
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49517.2734 - mae: 49517.2734 - val_loss: 50305.1016 - val_mae: 50305.1016
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49512.4570 - mae: 49512.4570 - val_loss: 50306.2070 - val_mae: 50306.2070
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49501.3789 - mae: 49501.3789 - val_loss: 50302.2070 - val_mae: 50302.2070
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49493.1328 - mae: 49493.1328 - val_loss: 50303.8438 - val_mae: 50303.8438
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49488.9570 - mae: 49488.9570 - val_loss: 50304.8438 - val_mae: 50304.8438
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49481.9492 - mae: 49481.9492 - val_loss: 50305.6484 - val_mae: 50305.6484
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49476.8984 - mae: 49476.8984 - val_loss: 50312.9453 - val_mae: 50312.9453
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49468.2930 - mae: 49468.2930 - val_loss: 50307.4336 - val_mae: 50307.4336
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49462.0508 - mae: 49462.0508 - val_loss: 50302.0859 - val_mae: 50302.0859

In [31]:
##Load Tensorboard Session
%load_ext tensorboard

In [34]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 4004), started 0:00:07 ago. (Use '!kill 4004' to kill it.)

In [35]:
## Evaluate Model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50296.1719 - mae: 50296.1719
Test MAE: 50296.171875

In [36]:
model.save('regression_model.h5')

d:\Projects\End2EndDL_ann\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(